body {
  background-color: #D4EAFF;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #696969;
}

.button {
  background-color: #0055D4;
}

.form {
  background-color: white;
  border-radius: 10px;
  margin: 150px 200px;
  padding: 30px;
}

.title {
  font-size: 16px;
  font-weight: 900;
  color: #696969;
  margin: 5px 0px;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
  font-weight: 700;
  color: #696969;
  margin-bottom: 15px;
}